body {
     font-family: avenir-light !important;
}

.carousel {
    position: relative;
    width: 749px;
    /* height: auto; */
    /* max-width: 100%; */
    height: auto;
    background: #e3e3e3;
    margin-top: 20px;
}
img.slide-img {
    margin: auto;
}
a#anchor-btn-sec {
    color: black;
}

a#anchor-btn-first {
    color: white;
     background-color: #e85555;
}

.slide-img {
    width: 509px;
    max-width: 100%;
    height: auto;
}

div#slide-show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*div#project-description {
    text-align: center;
}*/
.container {
    height: 13em;
    background-color: #051224;
}

.navbar-brand, .navbar-nav>li>a {
     text-shadow: none !important;
}
.nav-item, .nav-header-wrapper.navbar-brand{
    color: white;
}
.nav-header-wrapper.navbar-brand{
 position: relative;
 top: 47px;
 left: 42px;
 letter-spacing: 1.7px;
 font-size: 24px;
 text-align: left;
}
div#navbar-subheader {
    font-size: 20px;
    letter-spacing: -0.5px;
    color: gray;
    /*font-family: Avenir-Light;*/
    font-weight: 100;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    font-family: avenir-light;
    /* font-weight: 100; */
}
div#navbar-header {
    padding-bottom: 9px;
}
.container {
    width: 100% !important;
}
nav.navbar.navbar-default {
    width: 100% !important;
}

/**/

hr {
    /* margin-top: 20px; */
     margin-top: 4px !important;
    border: 0;
    border: 2px solid #e85555;
}
/*.about-header {
    display: inline-block;
    margin-top: 30px;
    margin-left: 42px;
    font-size: 20px;
}*/

/*ul {
  list-style-type: none;
}*/
.list-of-skills {
    display: flex;
    /*margin-left: -39px;*/
}
div#work-header {
    margin-right: 21px;
}
/*.some {
    margin-right: 40px;
}*/
a.carousel-control.left, a.carousel-control.right {
    display: none;
}
.wrapper, .work-felx-col{
    display: flex;
}
.work-felx-col{
    flex-direction: column;
}
.see-code {
    background: #e85555;
    display: inline-table;
    padding: 8px;
    padding-left: 23px;
    padding-right: 25px;
    margin-left: 42px;
    margin-top: 20px;
}
/*
.see-button {
    display: inline-table;
    padding: 8px;
    padding-left: 23px;
    padding-right: 25px;
    margin-left: 42px;
    margin-top: 10px;
    border: 1px black solid;
}*/

.about-text {
    width: 700px;
    min-width: 300px;
    max-width: 100%;
}

#nav-img {

      position: absolute;
    z-index: 0;
    width: 97%;
    height: 95%;
    top: 10px;

}

.buttons {
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    margin-top: 20px;
}
img.slide-img {
    padding: 20px;
}
.see-button {
    display: inline-table;
    padding: 8px;
    padding-left: 23px;
    padding-right: 25px;
    /*margin-left: 10px;*/
    margin-top: 10px;

}
.see-button.see-button-first {
    border: 2px transparent solid;
    background-color: #e85555;
}
@media screen and (max-width: 500px) {
    div#skills {
    margin-right: 27px;
}
    div#project-description, div#work-title, div#work-text, .about-text  {
    text-align: center;

    /*//margin-left: 42px*/
}

.carousel {

    max-width: 100%;

}
.buttons {
    margin-bottom: 24px;
    margin-left: 17px;
}
.see-button-first {
    background-color: #e85555;
    border: 0px;
    padding: 9px;
    padding-left: 23px;
    padding-right: 26px;
    /* width: 20px; */
}
.see-button {
    display: inline-table;
    padding: 8px;
    padding-left: 23px;
    padding-right: 25px;
    /*margin-left: 10px;*/
    margin-top: 10px;
    border: 1px black solid;
}



.about-wrapper, skills-wrapper{
    /*margin-left: 21px;*/
     margin-right: 31px;
     margin-top: 15px;
}

    #profile {
    width: 200px;
    height: auto;
    margin-left: 20px;
}
.title-header {
    margin-left: 20px;
}
.work-felx-col, .about-text {
    margin-left: 10px;
    margin-right: 10px;
}

/*div#work-title {
    text-align: center;
}*/

.buttons {
    margin-bottom: 24px;
}

/*.individual-slides1, .individual-slides2, .individual-slides3 {
    background-color: e3e3e3;
    padding-top: 54px;
    padding-bottom: 56px;
    margin-bottom: 26px;
    margin-left: 30px;
}*/

.title-header {
    margin-left: 20px;
    text-align: center;
}


div#icons {
   display: flex;
   justify-content: flex-end;
       margin-right: 32px;
}
.ind-icons {
    align-self: center;
}

.ind-icons {
    align-self: center;
    padding: 7px;
}

div#footer-name {
    margin-left: 20px;
    margin-bottom: 33px;
    padding-bottom: 33px;
}

div#icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 19px;
}
/*#navbar-subheader, #navbar-header{
    margin-left: 20px;
}*/
div#work-title {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 10px;
}
/*div#work-text {
    text-align: center;
}*/
.see-button-first{
    background-color: #e85555;
}

.carousel-indicators {
    bottom: -5px !important;
    /*width: 8px;
    height: 8px;*/
    /*background-color: white !important;*/

    }
.carousel-indicators .active {
    /*width: 8px;
    height: 8px;*/
    margin: 0;
    background-color: black !important;
}
/*.about-text {
    text-align: center;
}*/




/*ul {
    margin-left: -8px;
}*/


.see-button.see-button-first {
    padding-right: 28px;
    margin-bottom: 13px;
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}
.carousel {
    /* height: auto; */
    /*max-width: 100%;*/
    height: auto;
    background: #e3e3e3;
    margin-top: 20px;
    width: 100%
    /*margin-left: 26px;*/
    /* margin-right: -16px; */
}
img.slide-img{
    margin: auto;
}

}


@media only screen and (max-width: 10240px) and (min-width: 500px)  {

.list-of-skills {
    display: flex;
    /* margin-left: -39px; */
    margin-top: 33px;
        margin-left: 19px;
}



    div#skills {
    margin-left: 41px;
}
        div#work-header {
    margin-left: 41px;
}
.about-text {
    width: 700px;
}
         /*div#about-flex-col  {
    margin-left: 42px
}*/
/**/
.carousel-indicators {
    bottom: -1px;
}
/*.carousel-indicators .active {
    width: 8px;
    height: 8px;

}
.carousel-indicators {
    width: 8px;
    height: 8px;

}*/
/*#work-text, .about-text {
    width: 500px;
}*/
.wrapper-flex-row{
    display: flex;
}
.carousel.slide {
    margin-left: 42px;
    margin-right: 42px;
}
div#work-title {
    font-size: 20px;
}
.work-felx-col, .about-wrapper {
    margin-left: 41px;
}
.title-header {
    width: 4%;
}
/*ul {
    list-style: none;
}*/
.title-header {
width: 57;
	height: 24;
	font-family: "Avenir";
	font-size: 20;
	font-weight: "500";
	color: "#050f37";
    margin-bottom: 20px;
    margin-top: 20px;
}
.title-header-work{
   width: 57;
	height: 24;
	font-family: "Avenir";
	font-size: 20;
	font-weight: "500";
	color: "#050f37";
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 42px;
}
div#work-title {
    margin-bottom: 11px;
}
.see-button-sec{
   border: 1px black solid
}
}


.slideshow {
    display: flex;
    justify-content: center;
}


.navbar-brand, .navbar-nav>li>a {
     text-shadow: none !important;
}
.nav-item, .nav-header-wrapper.navbar-brand{
    color: white;
}
.nav-header-wrapper.navbar-brand{
 position: relative;
 top: 47px;
 left: 42px;
 letter-spacing: 1.7px;
 font-size: 24px;
 text-align: left;
}
div#navbar-subheader {
    font-size: 20px;
    letter-spacing: -0.5px;
    color: gray;
    /*font-family: Avenir-Light;*/
    font-weight: 100;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    font-family: avenir-light;
    /* font-weight: 100; */
}
div#navbar-header {
    padding-bottom: 9px;
}
.container {
    width: 100% !important;
}
nav.navbar.navbar-default {
    width: 100% !important;
}

div#work-text{
    min-width: 300px;
}
@media only screen and (max-width: 1145px) and (min-width: 500px)  {

.list-of-skills {
    display: flex;
    /* margin-left: -39px; */
    margin-top: 33px;
        margin-left: 19px;
}



    div#skills {
    margin-left: 41px;
}
    div#work-header {
    margin-left: 41px;
}
 .wrapper-flex-row {

    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
}
/*div#work-text{
    width: 500px;
}*/
img.slide-img{
    margin: auto;
}
div#work-title {
    margin-top: 20px;
}
div#work-text, .about-text {

    margin-right: 41px;
}
.slideshow {
     display: block;
}
.carousel.slide {
    /* margin-left: 42px; */
    /* margin-right: 42px; */
    width: 100%;
    margin-left: 0px;
     margin-right: 0px;
    }
}


div#icons {
   display: flex;
   justify-content: flex-end;
       margin-right: 32px;
}
.ind-icons {
    align-self: center;
}

.ind-icons {
    align-self: center;
    padding: 7px;
}

div#footer-name {
    margin-left: 20px;
    margin-bottom: 33px;
    padding-bottom: 33px;
}

/*div#icons {*/
    /*display: flex;
    justify-content: flex-end;
    margin-right: 19px;
}*/



.list-of-skills {
    display: flex;
    /* margin-left: -39px; */
    margin-top: 33px;

}


